@media only screen and (min-width: 768px) {
    .navbar-right {
        margin: 5px 15px 0px;
    }    
}

@media (min-width: 992px) {
    .hover-collapse, .sidebar-mini .sidebar .nav li:hover .collapse-2, .sidebar-mini .sidebar .nav li:focus .collapse-2, .sidebar-mini .sidebar .user:hover .collapse-2 {
        top: -45px;
    }

    .sidebar .user, .off-canvas-sidebar .user {
        padding-bottom: 10px;
        margin: 10px auto 0;
        position: relative;
    }

    .sidebar-mini .sidebar .user .photo {
        width: 50px;
        height: 50px;
        border-width: 2px;
    }

    .sidebar-mini .sidebar .info>div>div>div>a, .sidebar-mini .sidebar .info b {
        display: none;
        height: 0;
        padding: 0;
        opacity: 0;
    }

    .sidebar-mini .sidebar .nav li > a {
        margin: 5px 0px;
    }

    .sidebar-mini .sidebar .nav i {
        float: none;
        margin-left: 8px;
    }
}

.sidebar .sidebar-wrapper, .off-canvas-sidebar .sidebar-wrapper {
    position: relative;
    height: calc(100vh - 110px);
    overflow: auto;
    width: 260px;
    z-index: 4;
}

.sidebar .logo:after, .off-canvas-sidebar .logo:after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0px;
    height: 1px;
    width: calc(100%);
    background-color: rgb(255 255 255 / 30%);
}

.sidebar .user:after, .off-canvas-sidebar .user:after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0px;
    height: 1px;
    width: calc(100%);
    background-color: rgba(180, 180, 180, 0.3);
}

.sidebar .user .photo, .off-canvas-sidebar .user .photo {
    display: inline;
    margin: 0px 0px 10px 15px;
    box-shadow: 0 10px 30px -12px rgb(0 0 0 / 42%), 0 4px 25px 0px rgb(0 0 0 / 12%), 0 8px 10px -5px rgb(0 0 0 / 20%);
}

.sidebar .user .photo img, .off-canvas-sidebar .user .photo img {
    display: inline;
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 50%;
}

.sidebar .user i, .off-canvas-sidebar .user i {
    position: absolute;
    top: 37.5px;
    left: 50px;
    color: #56ff5c;
}

.area-click-profil {
    display: block;
    margin-bottom: -10px;
    text-align: left !important;
}

.sidebar .user .info .level {
    color: #909090;
}

.area-click-profil.drop {
    display: block;
    margin-left: -20px;
    padding-left: 20px !important;
    padding-right: 15px !important;
}

.sidebar .user a, .off-canvas-sidebar .user a {
    padding: 6px 0px;
}

.sidebar .user b, .off-canvas-sidebar .user b {
    margin-top: 20px;
    margin-left: -5px;
}

.sidebar .nav [data-toggle="collapse"] ~ div > ul > li > a, .off-canvas-sidebar .nav [data-toggle="collapse"] ~ div > ul > li > a {
    padding-left: 50px;
}

.sidebar .nav li:first-child > a, .off-canvas-sidebar .nav li:first-child > a {
    margin: 0px;
}

.sidebar .nav li > a, .off-canvas-sidebar .nav li > a {
    margin: 10px 0px 0;
    border-radius: 0px;
}

.sidebar .nav .caret, .off-canvas-sidebar .nav .caret {
    right: 25px;
}

.navbar .navbar-minimize {
    float: left;
    padding: 3px 10px 0 15px;
}

.navbar .navbar-brand {
    font-size: 14px;
}

.row.remove-margin-padding {
    margin-right: 0;
    margin-left: 0;
}

.row.remove-margin-padding > [class*='col-'] {
    padding-right: 0;
    padding-left: 0;
}

.mt-5 {
    margin-top: 5px !important;
}